body,
td,
th,
p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5em;
}

img {
  max-width: 100%;
}

#toast-container {
  width: 300px;
  height: 160px;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  background-color: #217CB9;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  margin: -80px 0 0 -150px;
  z-index: 1000;
  display: none;
}


#toast-container h3, #toast-container div {
  color: #FFF;
  margin: 10px;
}

#toast-container button {
  color: #FFF;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#toast-refresh {
  background-color: #B26000;
}

#toast-close {
  background-color: #2C8800;   
}

#toast-container button:hover, #toast-container button:focus {
  color: #000;
}

#toast-container[aria-hidden="false"] {
  transform: translateY(0%);
  opacity: 1;
  display: block;
}